extends layout 
include mixins/User

block content
    if errorMessage
        h1=errorMessage
    div 
        form(action="/user/find")
            input(name="nickName",placeholder="find user")
            input(type="submit", value="Find")
        
    each user in users
        +users (user)
    else
        h1 Can not Find user