extends layout


block content
    if errorMessage
        h4=errorMessage
    form(method="POST")
        input(name="id", placeholder="id", required)
        input(name="password", placeholder="password", required, type="password")
        input(name="confirmPassword", placeholder="Check password", required, type="password")
        input(name="nickName", placeholder="Nick name", required)
        input(name="introduction", placeholder="write introduction or not")
        input(type="submit", value="sumbit")